{% extends 'core/feed/base.html' %}
{% load static %}
 {% block content %}
 <div class="container mb-4 col-sm-8 my-5 ">
    {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-primary" role="alert">
                          {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

        <div class="d-flex-0 col-sm-12">
               
            
                
                    <h3  class="text-left mx-auto my-2">Profile Section</h3>
                    <div class="dropdown">
                        <i class="bi bi-gear-fill float-right my-3 dropdown-toggle " id="dropdownMenuButton1" data-bs-toggle="dropdown"></i>
                         
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="{% url 'profile_edit_view'  request.user.username %}">Edit Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'password_change_view' %}">Change Password</a></li>
                            
                          </ul>
                        </div>
                
            </div>
     <!-- <h1>Profile Section</h1><i class="bi bi-gear-fill text-last"></i> -->
     <hr>
      
      <div class=" container form-row ">
        <div class="col-sm-8">
                <div class="form-group col-md-12">
                   <label for="name" style="margin-right: 99px;">User Id  </label><span>: {{request.user.id}}</span>
                  
               </div>
               <div class="form-group col-md-12">
                   <label for="name" style="margin-right: 110px;">Email  </label><span>: {{request.user.email}}</span>
                  
               </div>
               <div class="form-group col-md-12">
                   <label for="name" style="margin-right: 76px;">Username  </label><span>: {{request.user.username}}</span>
                  
               </div>
               <div class="form-group col-md-12">
                   <label for="name" style="margin-right: 95px;">Gender  </label><span>: {{request.user.gender}}</span>
                  
               </div>
               <div class="form-group col-md-12">
                   <label for="name" style="margin-right: 95px;">Mobile </label><span>: {{request.user.phone_number}}</span>
                  
               </div>
               <div class="form-group col-md-12">
                   <label for="name" style="margin-right: 123px;">Bio  </label><span>: {{request.user.bio}}</span>
                  
               </div>
               <!-- <div class="form-group col-md-12">
                   <label for="name" style="margin-right: 88px;">Donor Id  </label><span>: {{request.user.get_donorid}}</span>
                  
               </div> -->
               
             <!-- <a href="{% url 'profile_edit_view'  request.user.username %}"><button type="click" class="btn btn-outline-primary">Update Profile</button></a> -->
         </div>
         <!-- Profile Picture -->
                    
                    <!-- Profile Picture end -->
                <div class="col-sm-4 my-5">
            {% if user.picture %}
                        <a href="{% url 'profile_edit_view' request.user.username %}">
                            <img src="{{ user.picture.url }}" class="img-fluid immP"  height="250px" width="100px">
                        </a>
                    {% else %}
                        <img src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png"  class="img-fluid immP"  height="250px" width="100px">
                    {% endif %}
            <!-- <img src="{{ request.user.picture}}"  alt="change_pic" class="img-fluid immP"  height="250px" width="100px" class="immR"> -->
             
         </div>
               
  
  
                         
    </div>
</div>
<div style="height:21vh;">
    </div>
 {% endblock %}