{% extends 'core/feed/base.html'%}
{% load static %}
{% block content %}
<div class="container mb-5 mt-5 "  >
      
        <div class="row">
        
            <h2 > Contact Us</h2>
            <hr>

            {% if form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif%}
            <form  method='post'>
                {% csrf_token %}
                <div class="d-flex">
                  <div class="mb-3 col-6">
                      <label for="name" >UserId : {{request.user.id}}</label>
                      
                  </div>
                  <div class="mb-3 col-6 ">
                      <label for="name" class="float-end">Email: {{request.user.email}}</label>
                      <input id="name" type="hidden" name="email" placeholder="Email" class="form-control {% if form.email.errors %}is-invalid{% endif %} " value="{{ request.user.email }}">
                                    <div class="invalid-feedback">
                                       {{ form.email.errors}}
                                    </div>
                      
                  </div>

              </div>


                <!-- pass context -->
               {% for obj1 in contact_list %}
                
                <div class="mb-3 col-sm-8">
                     <label for="name"><span class="text-muted">Question:-</span>{{obj1.description}}</label>
                    
                </div>

                <div class="mb-3 col-sm-8">
                    <label><span class="text-muted">(Admin)Reply: </span>{{obj1.reply}}</label>
                </div> 
                <hr>
                {% endfor %}
                        


                <div class="mt-3 col-sm-8">
                    <label for="description">Describe Here </label>
                    {{ form.description }}
                    <div class="invalid-feedback">
                                       {{ form.description.errors}}
                                    </div>
                </div>
                <div class="mt-4 ">
                <button type="submit" class="btn btn-outline-success mx-3">Submit</button>
                </div>
            </form>
            </div>
        </div>
        <div style="height:19vh;">
    </div>

{% endblock %}